body {
    background-color: rgb(204, 113, 121);
    font-family: Estonia;
    color: #f5f7f4;
    
}
h2{
font-size: 90px;
margin-left:130px;




}

.center-container {
text-align: center;
margin-left:330px;
margin-top:330px;
padding-left:490px; 

}
h2{
    
text-align: center;
  
}
h3{
     
text-align: center;
  
}
img {
text-align: center;
margin-left:430px;
display:block;
margin-left:auto;
 margin-right:auto;

}